.button-field {
  display: flex;
  button {
    margin: 0 auto;
    border: none;
    background-color: #476b88;
    padding: 10px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
  }
}
